body {

	font-size: 16px;
	background-color: #DAAD86;

}

/*Header*/
#header-nav {
	background-color: #FBEEC1;
	border-radius: 0;
	border: 0;
}

h1 {
	margin-top:-10px;
}

.homepagecontent {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #EDF5E1;
}



